<h3 align="center">Login</h3>

<div class="example-container" align="center">
  <mat-form-field>
    <input matInput placeholder="UserId" type="text" [(ngModel)]="user.userId">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Password" type="password" [(ngModel)]="user.password">
  </mat-form-field>

  <div class="button-row">
    <button mat-raised-button color="accent" (click)="login()">Login</button>
  </div>

</div>



<!--<div>
  UserId : <input type="text" [(ngModel)]="user.userId">
</div><br>

<div>
  Password : <input type="password" [(ngModel)]="user.password">
</div><br>

<div align="center">
  <button (click)="login()">Login</button>
</div>-->
<!--<p>
  <a [routerLink]="['/home']">Home</a>
</p>-->